* {
  margin: 0;
  padding: 0;
}

#main-screen {
  height: 100vh;
}

#header {
  height: 8%;
}

#body {
  height: 92%;
  background-color: black;
  display: grid;
}

.score {
  padding: 18px;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.snake {
  background-color: pink;
}

div.target {
  background-color: lightgreen;
}
